<!doctype html>
<html lang="en">

<head>
    <title>Manpower</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/project">ICONNEXT</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/project">Project Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Report</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Master Data Management</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/Manpower/staff">Manpower</a>
                        <a class="dropdown-item" href="#">Holiday</a>
                        <a class="dropdown-item" href="/leave/staff">Leave</a>
                        <a class="dropdown-item" href="/position">Position</a>
                        <a class="dropdown-item" href="#">Project Position</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center">
        <div class="h1 font-weight-bold mt-5">Edit Staff</div>
        <form action="/updatestaff" method="POST" class="needs-validation" novalidate>
            <input type="hidden" name="editID" value="<%= Staffs.EID %>">
            <div class="col-8 m-auto">
                <div class="form-row">
                    <div class="col">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">ID</label>
                        <input type="text" class="form-control" placeholder="ID" name="ID" value="<%= Staffs.EID %>"
                            required>
                    </div>
                    <div class="col">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Title</label>
                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="Title"
                            required>
                            <option selected><%= Staffs.Title %></option>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Miss.">Miss.</option>
                            <option value="Dr.">Dr.</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Name</label>
                        <input type="text" class="form-control" name="Name" placeholder="Name"
                            value="<%= Staffs.Name %>" required>
                    </div>
                    <div class="col">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Surname</label>
                        <input type="text" class="form-control" name="Surname" placeholder="Surname"
                            value="<%= Staffs.SurName %>" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Nickname</label>
                        <input type="text" class="form-control" name="Nickname" placeholder="Name"
                            value="<%= Staffs.NickName %>" required>
                    </div>
                    <div class="col">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Position</label>
                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="Position">
                            <option selected><%= Staffs.Position %></option>
                            <% Positions.forEach(function(position){ %>
                            <option value="<%= position.Description %>"><%= position.Description %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Tel</label>
                        <input type="text" class="form-control" name="Tel" placeholder="Tel" value="<%= Staffs.Tel %>"
                            required>
                    </div>
                    <div class="col">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Email</label>
                        <input type="email" class="form-control" name="Email" placeholder="Email"
                            value="<%= Staffs.Email %>" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Start Date</label>
                        <input type="date" class="form-control" name="StartDate" value="<%= Staffs.StartDate %>"
                            required>
                    </div>
                    <div class="col">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">End Date</label>
                        <input type="date" class="form-control" name="EndDate" value="<%= Staffs.EndDate %>">
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="m-2">
                        Active :
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Active" value="Y" checked="checked">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Active" value="N">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                </div>
                <div class="text-center mb-4 mt-3">
                    <button type="submit" class="btn btn-primary font-weight-bold mr-3">Confirm</button>
                    <a href="/manpower/staff">
                        <button type="button" class="btn btn-danger font-weight-bold">Cancel</button>
                    </a>
                </div>
            </div>
        </form>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>