<!doctype html>
<html lang="en">

<head>
    <title>Project Position</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/project">ICONNEXT</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/project">Project Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Report</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Master Data Management</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/Manpower/staff">Manpower</a>
                        <a class="dropdown-item" href="/Holiday">Holiday</a>
                        <a class="dropdown-item" href="/leave/staff">Leave</a>
                        <a class="dropdown-item" href="/position">Position</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="text-left font-weight-bold h1 mb-5">
            <%= Project.Name %>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="font-weight: bold;">Name</th>
                    <th style="font-weight: bold;" class="text-center">Position</th>
                    <th style="font-weight: bold;" class="text-center">Cost / Month</th>
                    <th style="font-weight: bold;" class="text-center">Usage</th>
                    <th style="font-weight: bold;" class="text-center">Cost</th>
                </tr>
            </thead>
            <tbody>
                <% Manpowers.forEach(function(data){%>
                <tr>
                    <td class="font-weight-bold"><%= data.Name %></td>
                    <td class="text-center font-weight-bold"><%= data.Position %></td>
                    <td class="text-center font-weight-bold">
                        <%= data.CostMonth.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                    <td class="text-center font-weight-bold"><%= data.Usage %></td>
                    <td class="text-center font-weight-bold">
                        <%= data.Cost.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                </tr>
                <% })%>
                <tr>
                    <td class="font-weight-bold"></td>
                    <td class="text-center font-weight-bold"></td>
                    <td class="text-center font-weight-bold"></td>
                    <td class="text-center font-weight-bold"></td>
                    <td class="text-center font-weight-bold" style="background-color:#3399FF ; color: white;">
                        <%= Total %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>